[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/ebib"]
	path = src/ebib
	url = http://repo.or.cz/r/ebib.git
[submodule "src/ess"]
	path = src/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "latex-custom-cpoile"]
	path = latex-custom-cpoile
	url = https://github.com/cpoile/latex-custom-kjh.git
[submodule "src/cdlatex"]
	path = src/cdlatex
	url = https://github.com/emacsmirror/cdlatex.git
[submodule "src/org-mode"]
	path = src/org-mode
	url = git://orgmode.org/org-mode.git
